<form class="search-container">
  <input type="text" id="search-bar" placeholder="Rechercher">
  <a><img class="search-icon" src="http://www.endlessicons.com/wp-content/uploads/2012/12/search-icon.png"></a>
</form>

<h1>0 résultat pour Toulouse Centre</h1>
