.search-container {
  width: 50%;
  display: block;
  margin: 3% auto;
}

input#search-bar {
  margin: 0 auto;
  width: 100%;
  height: 45px;
  padding: 0 20px;
  font-size: 1rem;
  border: 1px solid #f6f6f6;
  outline: none;
}
input#search-bar:focus {
  border: 1px solid #f6f6f6;
  transition: 0.35s ease;
  color: #222;
}
input#search-bar:focus::-webkit-input-placeholder {
  transition: opacity 0.45s ease;
  opacity: 0;
}
input#search-bar:focus::-moz-placeholder {
  transition: opacity 0.45s ease;
  opacity: 0;
}
input#search-bar:focus:-ms-placeholder {
  transition: opacity 0.45s ease;
  opacity: 0;
}

.search-icon {
  position: relative;
  float: right;
  width: 75px;
  height: 75px;
  top: -62px;
  right: -45px;
  cursor: pointer;
}

h1 {
  margin-left: 25%;
}
