<mat-toolbar>
  <button mat-icon-button [matMenuTriggerFor]="applicationMenu" >
    <mat-icon>apps</mat-icon>
  </button>
  <button mat-button >
    <mat-icon>perm_identity</mat-icon>
  </button>

  <button mat-button (click)="installApp()" *ngIf="isInStandaloneMode === false">
    <mat-icon >get_app</mat-icon>
  </button>

  Covoitme
</mat-toolbar>

<router-outlet></router-outlet>







<mat-menu #applicationMenu="matMenu">
  <button mat-menu-item (click)="changeRoute(routerConfig.home.path)">
    <mat-icon>home</mat-icon>
    <span>Accueil</span>
  </button>
  <button mat-menu-item (click)="changeRoute(routerConfig.find.path)">
    <mat-icon>directions_run</mat-icon>
    <span>Ou allez</span>
  </button>
</mat-menu>
