<div class="container">
<section class="banner">
  <div class="slide">
    <div class="description">
      <h1>CUGNAUX → CAPITOLE</h1>
      <p class="pointer"><mat-icon>location_on</mat-icon>24 rue de la Mairie</p>
      <p><mat-icon>directions_car</mat-icon>clio 2 blanche</p>
      <p class="pointer"><mat-icon>perm_identity</mat-icon>Marie</p>
      <p class="pointer"><mat-icon>phone</mat-icon>777-888-999</p>
    </div>

    <!-- <img src="https://fac.img.pmdstatic.net/fit/http.3A.2F.2Fprd2-bone-image.2Es3-website-eu-west-1.2Eamazonaws.2Ecom.2FFAC.2Fvar.2Ffemmeactuelle.2Fstorage.2Fimages.2Famour.2Fcoaching-amoureux.2Fcest-quoi-belle-femme-temoignages-43206.2F14682625-1-fre-FR.2Fc-est-quoi-une-belle-femme-temoignages.2Ejpg/748x372/quality/90/crop-from/center/c-est-quoi-une-belle-femme-temoignages.jpeg" width="350" > -->
  </div>
</section>
</div>
