.container {
  padding: 0 2rem;
}

.banner {
  background: #f1f1f1;
  padding: 5rem;
  margin-top: 3rem;
  border-radius: 10px;
}

.slide {
  display: flex;
  justify-content: space-around;
}

img{
  border-radius: 10px;
}

.banner h1 {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 1.5px;
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.banner p {
  color: grey;
}

.slide img {
  width: 30%;
  height: 30%;
  align-self: center;
}

.slide .description {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 50%;
}

.pointer {
  cursor: pointer;
}

@media (max-width: 768px) {
  .container {
    padding: 0 2rem;
  }}

  @media (max-width: 500px) {
    /* .slide img {
      display: none;
    } */
    .slide .left {
      width: 100%;
    }
    .slide .description {
      width: 100%
    }
  }
