@import 'https://fonts.googleapis.com/css?family=Raleway';

header
{
    font-family: Raleway;
    margin: 0 auto;
	  padding: 5em 3em;
	  text-align: center;

    position: relative;
  background: url(https://cdn.designsmaz.com/wp-content/uploads/2014/10/google-inspired.jpg) center no-repeat;
}

header h1
{
    color: #222;
    font-size: 40px;
    font-weight: lighter;
    margin-bottom: 5px;
}

header span
{
    color: #222;
}






.container {
  font-family: Raleway;
  padding: 0 10rem;

}

a {
  color: #161616;
  font-family: Raleway;
}


* {
  box-sizing: border-box;
}

.shop-item--container .meta > span {
  text-transform: uppercase;
}


.shop-item--container .meta span {
  font-size: 1.15rem;
  letter-spacing: 1px;
}



.banner h1 {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 1.5px;
  font-size: 3rem;
  margin-bottom: 0.5rem;
}



.shop-items {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-template-rows: repeat(2, minmax(360px, 1fr));
  gap: 3rem;
  grid-gap: 3rem;
  grid-auto-rows: 360px;
}

.shop-item {
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.shop-item--container {
  background: #f1f1f1;
  padding: 2rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  transition: all 0.15s ease-in-out;
  border-radius: 10px;
}

.shop-item--container:hover {
  background: #f6f6f6;
}

.shop-item--container .meta {
  display: flex;
  justify-content: space-between;
}

.shop-item--container .meta > span {
  font-weight: bold;
}

.shop-item h3 {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1.5px;
  font-size: 1.1rem;
  margin: 0.8rem;}
  a:hover {
    color: grey
  }


.shop-item .price {
  text-align: center;
}

.shop-item .title > a {
  display: block;
}

.shop-item .price span {
  margin-top: 1rem;
  text-align: center;
  color: grey;
  font-size: 1.3rem;
}

.shop-item--container img {
  align-self: center;
  margin: auto 0;
  border-radius: 10px;
}

/**
 * Media Queries
 */

@media (min-width: 1350px) {
  .shop-items {
    grid-template-columns: repeat(4, minmax(250px, 1fr));
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 2rem;
  }
}

@media (max-width: 425px) {
  .shop-item .title h3 {
    font-size: 1.5rem;
  }

  .shop-item .price span {
    font-size: 1.5rem;
  }

}
h3 {
  font-size: 1.8rem;
}
