<header>
  <h1>
    Covoit me
  </h1>
  <span>
    Est vos trajets quotidiens deviennent un plaisir
  </span>
</header>

<div class="container">


  <section class="shop-items">

    <div class="shop-item">
      <a class="shop-item--container" (click)="goToDetail()">
        <div class="meta">
          <span class="tag">18h00</span>
          <span class="discount">3 places</span>
        </div>
        <img src="https://france3-regions.francetvinfo.fr/occitanie/sites/regions_france3/files/styles/top_big/public/assets/images/2014/12/17/capitiol.jpg?itok=gkGYKicj" width="125" height="125">
      </a>
      <div class="title">
        <br/>
        <h3><a>Cugnaux → Capitole</a></h3>
      </div>
      <div class="price"><span>0.60€</span></div>
    </div>

    <div class="shop-item">
      <a class="shop-item--container" (click)="goToDetail()">
        <div class="meta">
          <span class="tag">06h00</span>
          <!-- <span class="discount">0places</span> -->
        </div>
        <img src="https://france3-regions.francetvinfo.fr/occitanie/sites/regions_france3/files/styles/top_big/public/assets/images/2014/12/17/capitiol.jpg?itok=gkGYKicj" width="125" height="125">
      </a>
      <div class="title">
        <br/>
        <h3><a>Capitole → St cyprien</a></h3>
      </div>
      <!-- <div class="price"><span>1.30€</span></div> -->
    </div>

    <div class="shop-item" (click)="goToDetail()">
      <a class="shop-item--container">
        <div class="meta">
          <span class="tag">20h00</span>
          <span class="discount">10places</span>
        </div>
        <img src="https://france3-regions.francetvinfo.fr/occitanie/sites/regions_france3/files/styles/top_big/public/assets/images/2014/12/17/capitiol.jpg?itok=gkGYKicj" width="125" height="125">
      </a>
      <div class="title">
        <br/>
        <h3><a>La vache → Capitole</a></h3>
      </div>
      <div class="price"><span>0.50€</span></div>
    </div>


    <div class="shop-item" (click)="goToDetail()">
      <a class="shop-item--container">
        <div class="meta">
          <span class="tag">20h00</span>
          <span class="discount">10places</span>
        </div>
        <img src="https://france3-regions.francetvinfo.fr/occitanie/sites/regions_france3/files/styles/top_big/public/assets/images/2014/12/17/capitiol.jpg?itok=gkGYKicj" width="125" height="125">
      </a>
      <div class="title">
        <br/>
        <h3><a>la vache → capitole</a></h3>
      </div>
      <div class="price"><span>0.50€</span></div>
    </div>

  </section>
</div>
